<!DOCTYPE html>
<html ng-app="demoApp">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">


    <base href="../"/>
    <title>TileView: Demo</title>

    <!-- Le css -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="dist/tileview.css"/>
    <link rel="stylesheet" type="text/css" href="demo/demo.css"/>


  </head>
  <body style="height: 100vh;">

    <div ng-controller="demoCtrl" class="demo">
      <td-tileview items="data" options="options">
      </td-tileview>
      
      <form class="controls">
        <fieldset class="form-group">
          <label for="width">Tile-Width:</label>
          <input id="width" class="form-control" type="number" ng-model="options.tileSize.width" ng-model-options="{ updateOn: 'blur' }">
        </fieldset>
        <fieldset class="form-group">
          <label for="height">Tile-Height:</label>
          <input id="height" class="form-control" type="number" ng-model="options.tileSize.height" ng-model-options="{ updateOn: 'blur' }">
        </fieldset>
        <fieldset class="form-group">
          <label for="numItems">Number of items:</label>
          <input id="numItems" class="form-control" type="number" ng-model="numItems" ng-model-options="{ updateOn: 'blur' }">
        </fieldset>
        <fieldset class="form-group">
          <label for="template">Template:</label>
          <select id="template" class="form-control" ng-model="options.templateUrl">
            <option value="SimpleCell">Simple Cell</option>
            <option value="CellWithImage">Cell with Image</option>
          </select>
        </fieldset>
        <fieldset class="form-group">
          <label for="horizontal">Align Horizontal:</label>
          <input id="horizontal" class="form-control" type="checkbox" ng-model="options.alignHorizontal">
        </fieldset>
        <button type="button" class="btn btn-default" ng-click="fixSize()">Fix size</button>
        <button type="button" class="btn btn-default" ng-click="changeData()">Change Data</button>
        <button type="button" class="btn btn-default" ng-click="insert()">Insert</button>
      </form>
    </div>
    
    <!-- Le javascript -->
    <script type="application/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
    <script type="application/javascript" src="dist/tileview.js"></script>
    <script type="application/javascript">
      angular.module('demoApp', ['td.tileview'])
        .controller('demoCtrl', ['$scope', function($scope) {
          
          function createData(numItems) {
            $scope.data = [];
            for (var i = 0; i < numItems; ++i) {
              $scope.data[i] = {
                id: i,
                name: "Some Test Name " + i
              }
            }
          }
          
          $scope.$watch('numItems', createData);
          $scope.numItems = 1000;
          
          $scope.options = {
            templateUrl: 'SimpleCell',
            tileSize: {
              width: 128,
              height: 128
            },
            onScrollEnd: function() {
              console.log('scroll end');
            }
          }
          
          $scope.changeSize = function() {
            $scope.options.tileSize.width = $scope.size;
            $scope.options.tileSize.height = $scope.size;
          };
          
          $scope.fixSize = function() {
            angular.element(document.querySelector('.demo')).css('width', '800px');
            $scope.$broadcast('td.tileview.resize');
          };
          
          $scope.changeData = function() {
            $scope.data[0].name = 'New name'; 
          };
          
          $scope.parentScopeValue = 'Outer scope';
          
          $scope.insert = function() {
            $scope.data.splice(0, 0, {
              id: $scope.data.length,
              name: "Some Test Name " + $scope.data.length
            });
          };
          
          $scope.remove = function(item) {
            $scope.data.splice($scope.data.indexOf(item), 1);
          };
        }]);
    </script>
    <script type="text/ng-template" id="SimpleCell">
        <div class="item-cell-padding">
          <div class="item-cell">
            <p>{{ item.name }}</p>
            <div>
              <button class="btn btn-default" ng-click="remove(item)">Remove</button>
            </div>
          </div>
        </div>
    </script>
    <script type="text/ng-template" id="CellWithImage">
        <div class="item-cell-padding">
          <div class="item-cell"><img src="http://placehold.it/{{ options.tileSize.width - 40 }}x32">{{ item.name }}</div>
        </div>
    </script>

  </body>
</html>
